// VARIABLES


// Fonts
$f-alegreya: 'Alegreya', serif;
$f-playfair: 'Playfair Display', serif;
$f-montserrat: 'Montserrat', sans-serif;
$f-hand: 'Mr De Haviland', cursive;


$regural: 400;
$bold: 700;
// Colors: 
$white: #ffffff;
$bg: #fdfcf9;

$c-brown: #56534c;
$c-header: #6d6b64;
$c-subtitle: #bb9e87;
$c-text: #9f9d98;
$c-grey: #babab6;
$c-grey-menu: #78797a;
$c-brown: #b4947b;
$c-brown-vl: #f3f1e9;
$c-brown-l: #8f9190;
$c-gold: #cccc99;
$c-light-brown: #dfc691;
$c-section-bg: #f3f1e9;
// Transparent 
$c-nav: rgba(0, 0, 0, 0.4);
$c-overlay: rgba(255, 255, 255, 0.8);
